@media only screen and (min-width: 601px) {
    
    h1 {
      text-align: center;
      font-size: 34px;
    }
    
}



.background {
  background-color: #706e66;
  color: white;
  margin: 18px auto;
  
  
}


@media only screen and (min-width: 590px) {

  
  .broder-div {
  margin: auto;
  border: 2px solid white;
  height: 560px;
  width:  448px;
  text-align: center;
  broder-align: center;
  padding: 10px;
  border-radius: 15px 50px;
  
}  
}



.in-text {
  padding: 68px 0px 8px 28px;
  text-align: left;
}

input[type=text] {
  width: 21em;
  padding: 14px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: -110px; 

}

input[type=submit] {
  width: 100px;
  background-color: #E3CD81FF;
  color: white;
  padding: 14px 20px;
  margin: 58px 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 250px ;
  font-size: 18px;
 
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
   
   
   
   h1 {
       font-size: 15;
       text-align: center;
   }
   
   .in-text {
       padding-top: 100px;
       font-size: 19px;
   }
   
   
   input[type=text] {
  
  margin-left:  17px; 
  width: 280px;
  font-size: 18px;

}
   
   input[type=submit] {
   
       margin-top: 58px;
       margin-left: 12em;
       
   }
   

   
   
}


